<div class="text-center font-bold text-5xl py-5 mt-20">
  <h1 chass="font-bold text-xl bg-blue">イベント管理くん</h1>
</div>
<p class="text-center text-2xl py-5">このアプリはイベントを管理するアプリです</p>

<iv class="flex space-x-4 m-4 justify-center">
  <%= link_to t('top.sign_up'), new_user_registration_path, class:"bg-blue-500 text-white px-4 py-2 rounded text-3xl" %>
  <br>
  <%= link_to t('top.log_in'), new_user_session_path, class:"bg-blue-500 text-white px-4 py-2 rounded text-3xl"  %>
  <br>
  <%= link_to t('top.guest_log_in'), ivents_path, class:"bg-blue-500 text-white px-4 py-2 rounded text-3xl"  %>
<i>
