<h1 class="font-bold text-center text-5xl my-10">イベント一覧</h1>

<% @ivents.each do |ivent| %>
  <div class="bg-green-100 mt-5 flex space-x-5 items-center justify-center"> 

    <%= link_to ivent.name , "#" , class:"bg-slate-200 rounded px-5 py-3"%> 
    <%= link_to "編集" , "#" , class:"bg-slate-200 rounded px-5 py-3"%> 
    <%= link_to "削除" , "#" , class:"bg-slate-200 rounded px-5 py-3"%> 

  </div>
<% end %>